{%extends "accounts/main.html" %}

{% block content %}
     <h1>WELCOME TO THE MAIN LIBRARY</h1>






<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>MY BOOKS </title>
        {% load static %}
      
    </head>
    <body>
      

                <div>
                    {% for book in books %}
                    <div class="card" style="width: 18rem;">
                        <img src="" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">{{book.title}}</p>
                          <a href="{% url 'showbook' book.id %}" class="btn btn-primary">borrow</a>
                        </div>
                      </div>
                    <a href="{% url 'showbook' book.id %}" style="display: block">{{book.title}}</a>

                    {% endfor %}
                </div>

                <button class="cn"><a href="#">LEARN MORE</a></button>

            
        

        
            
            
    </body>
</html>
{% endblock content %}