{% extends 'main.html' %} {% block content %}
<h1 class="text-center mt-5">Signup!</h1>
<div class="d-flex justify-content-center mt-5">
  <div class="card w-50 mt-3">
    <div class="card-body">
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="invalid" {% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <form
        action="."
        method="POST"
        class="needs-validation"
        autocomplete="off"
      >
        {% csrf_token %}
        <div class="form-group">
          <label for="email">Name:</label>
          <input
            class="form-control"
            id="name"
            name="name"
            value="{{ name }}"
            required
          />
        </div>
        <div class="form-group">
          <label for="email">Username:</label>
          <input
            class="form-control"
            id="username"
            name="username"
            value="{{ username }}"
            required
          />
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input
            class="form-control"
            value="{{ email }}"
            id="email"
            name="email"
            required
          />
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input
            type="password"
            class="form-control"
            value="{{ password }}"
            id="pwd"
            name="password"
            required
          />
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-group">
          <label for="pwd">Confirm password:</label>
          <input
            type="password"
            class="form-control"
            value="{{ confirm_password }}"
            id="pwd"
            name="confirm_password"
            required
          />
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-group">
          <label for="role">Role:</label>
          <select
            class="form-select"
            name="role"
            value="{{ role }}"
            id="role"
            aria-label="Role select"
            required
          >
            <option value="" selected disabled>Please select role</option>
            <option value="Student">Student</option>
            <option value="Admin">Admin</option>
          </select>
        </div>
        <div class="form-group">
          <label for="role">Sex:</label>
          <select
            class="form-select"
            name="sex"
            value="{{ sex }}"
            id="sex"
            aria-label="Sex select"
            required
          >
            <option value="" selected disabled>Please select sex</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
        <div class="d-flex justify-content-center mt-3">
          <button type="submit" class="btn btn-primary w-75">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
